    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'tauxIr.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'tauxIr.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'tauxIr.salaireMin' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="1" placeholder="{{'tauxIr.salaireMin' | translate}}" [(ngModel)]="item.salaireMin"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'tauxIr.salaireMax' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="2" placeholder="{{'tauxIr.salaireMax' | translate}}" [(ngModel)]="item.salaireMax"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'tauxIr.pourcentage' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="3" placeholder="{{'tauxIr.pourcentage' | translate}}" [(ngModel)]="item.pourcentage"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="4">{{'tauxIr.dateMin' | translate}}</label>
                                            <p-calendar appendTo="body" id="4"  [showTime]="true" [showSeconds]="false" placeholder="{{'tauxIr.dateMin' | translate}}"  [(ngModel)]="item.dateMin"
                                                        dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="5">{{'tauxIr.dateMax' | translate}}</label>
                                            <p-calendar appendTo="body" id="5"  [showTime]="true" [showSeconds]="false" placeholder="{{'tauxIr.dateMax' | translate}}"  [(ngModel)]="item.dateMax"
                                                        dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="6">{{'tauxIr.cotisationPatronal' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="6" placeholder="{{'tauxIr.cotisationPatronal' | translate}}" [(ngModel)]="item.cotisationPatronal"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="7">{{'tauxIr.cotisationSalarial' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="7" placeholder="{{'tauxIr.cotisationSalarial' | translate}}" [(ngModel)]="item.cotisationSalarial"  >
                                            </p-inputNumber>
                                            
                                        </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
