    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'paiementIrDetail.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'paiementIrDetail.tabPan' | translate}}">
                        <div class="grid">

                                    <div class="field col-11 md:col-6">
                                        <label for="1">{{'paiementIrDetail.paiementIr' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="paiementIrs" [(ngModel)]="item.paiementIr" id="1" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="id" placeholder="{{'paiementIrDetail.paiementIr' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="2">{{'paiementIrDetail.tauxIr' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="tauxIrs" [(ngModel)]="item.tauxIr" id="2" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="id" placeholder="{{'paiementIrDetail.tauxIr' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="3">{{'paiementIrDetail.employe' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="employes" [(ngModel)]="item.employe" id="3" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="id" placeholder="{{'paiementIrDetail.employe' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="4">{{'paiementIrDetail.salaireBrute' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="4" placeholder="{{'paiementIrDetail.salaireBrute' | translate}}" [(ngModel)]="item.salaireBrute"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="5">{{'paiementIrDetail.cotisationpatronel' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="5" placeholder="{{'paiementIrDetail.cotisationpatronel' | translate}}" [(ngModel)]="item.cotisationpatronel"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="6">{{'paiementIrDetail.cotoisationsalarial' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="6" placeholder="{{'paiementIrDetail.cotoisationsalarial' | translate}}" [(ngModel)]="item.cotoisationsalarial"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="7">{{'paiementIrDetail.salaireNet' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="7" placeholder="{{'paiementIrDetail.salaireNet' | translate}}" [(ngModel)]="item.salaireNet"  >
                                            </p-inputNumber>
                                            
                                        </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
