    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'gradeEmploye.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'gradeEmploye.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'gradeEmploye.code' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'gradeEmploye.code' | translate}}" id="1" [(ngModel)]="item.code"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'gradeEmploye.libelle' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'gradeEmploye.libelle' | translate}}" id="2" [(ngModel)]="item.libelle"
                                                    />
                                            
                                        </div>



                        </div>
                    </p-tabPanel>

                </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
